@import './variables';

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: $color-slight-lavender;
}

//removing default decorations from lists and links
ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}