//import google fonts
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "./variables";
@import "./mixin";
@import "./fonts";



header {
    background-image: url(../assets/images/header-background.png);
    background-size: cover;
    height: 100svh;
    padding-top: 2svh;

    .header {
        @include flex(flex, center, space-between);
        width: 80%;
        margin: auto;

        .header-links {
            @include flex(flex, center, space-between);
            gap: $header-links-gap;
            margin-left: 7%;
    
            svg {
                margin-left: 10px;
            }
        }

        .header-buttons {
            @include flex(flex, center, space-between);
            gap: $header-links-gap;
    
            button {
                @include buttonStyle($color-purple, 7.5rem, 2.75rem, $manrope-font, 0);
            }
    
            button:hover {
                background-color: $color-purple-hover;
            }

            button:active {
                background-color: $color-purple;
            }
        }
    }

    .header-content {
        @include flex(flex, flex-start, center);
        flex-direction: column;
        width: 80%;
        margin: auto;
        padding-top: 7rem;
        gap: 1rem;

        .header-main {
            width: 40%;
            font-size: 3rem;
            margin: auto 0;
        }

        .header-subtext {
            width: 30%;
            margin: -2px 0 30px;   

        }

        .header-banner-buttons {
            @include flex(flex, center, space-between);
            gap: 2rem;

            .get-started {
                @include buttonStyle($color-purple-hover, 8rem, 3rem, inherit, 24px);
            }

            .get-started:hover {
                background-color: $color-purple;
            }

            .get-started:active {
                background-color: $color-purple-hover;
            }

            .how-works {
                @include buttonStyle($color-green, 3rem, 3rem, inherit, 50%);
                text-align: center;
                margin-right: 0.5rem;
            }

            .how-works:hover {
                box-shadow: 1.5px 1.5px 1px rgba(0,0,0,0.3);
                transform: translate(-1px, -1px);
            }

            .how-works:active {
                box-shadow: none;
                transform: translate(1px, 1px);
            }

            span {
                color: $color-purple-hover;
            }
        }

        .header-banner-check {
            @include flex(flex, center, space-between);
            gap: 20px;
            color: $color-purple-hover;
            margin: 3rem 0 0;
            font-size: 1rem;
            
            svg {
                margin-right: 5px;
            }
        }
    }
}

.companies {
    background-color: $color-grey;
    padding: 3rem 0;

    div {
        @include flex(flex, center, space-between);
        flex-direction: column;
        width: 85%;
        margin: auto; 

        p {
            margin: 0 auto 2rem;
            font-weight: 600;
        }
    }
}

.automated-portfolio-tracking {
    @include flex(flex, center, space-between);
    flex-wrap: wrap; 
    width: 80%;
    margin: 5rem auto;

    .text {
        width: 50%;
        .main-text {
            font-size: 3.25rem;
            margin: 0 0;
        }
    }

    .comment {
        @include flex(flex, center, flex-end);
        width: 40%;

        .comment-background {
            font-size: 15px;
            font-weight: 600;
            background-color: $color-dark-grey;
            padding: 1.5rem 1.5rem 1rem;
            width: 80%; 
            height: 10rem;
            border-radius: 24px;
            position: relative;

            img {
                position: inherit;
                top: -50px;
                right: -5px;
            }

            .comment-content {
                position: relative;
                top: -60px;
            }
        }
    }
}

.portfolio-tracking-cards {
    @include flex(flex, center, space-between);
    width: 80%;
    margin: auto;

    .card {
        @include flex(flex, center, center);
        flex-direction: column;
        width: 32%;
        height: 25rem;
        padding: 2rem 2rem;
        border: 1px solid $color-border-grey;
        border-radius: 24px;
        background-color: white;

        .manrope-text-bold {
            font-size: 2rem;
        }
        .number {
            align-self: flex-start;
            font-size: 1.5rem;
        }

        .heading {
            @include flex(flex, center, center);
            flex-direction: column;
            text-align: center;
  
            p.manrope-text-bold {
                margin-bottom: 0;
            }

            .rectangle {
                @include flex(flex, flex-start, space-between);
                flex-direction: column;
                width: 50px;
                height: 45px;

                .head {
                    width: 40px;
                    height: 10px;
                    background-color: black;
                }

                .body {
                    width: 50px;
                    height: 30px;
                    background-color: #3234a9;
                }
            }
        }

        .text {
            text-align: center;
            line-height: $line-height;
            margin-bottom: 0;
        }
    }
}

.track-payments-section {
    @include flex(flex, center, space-between);
    width: 80%;
    margin: 5rem auto 0rem;

    .recieved-money {
        width: 45%;
        position: relative;
        max-height: 520px;

        .card {
            position: inherit;
            top: -450px;
            right: -25px;
        }
    }

    .hand-credit-card-black {
        position: relative;
        max-height: 685px;

        .total-balance {
            position: relative;
            top: -300px;
            left: -50px;
        }
    }

    .why-choose-us {
        width: 45%;
        p {
            font-size: 14px;
            font-weight: 700;
            color: $color-purple-hover;
        }

        h1 {
            font-size: 3rem;
        }

        .text {
            font-size: 18px;
            color: $text-color-purple;
        }

        hr {
            color: $color-dark-grey;
        }

        ul {
            @include flex(flex, flex-start, center);
            flex-direction: column;
            gap: 10px;
        }
        svg {
            margin-right: 10px;
            color: #FDBC64;
        }
    }
}

.track-payments-section.two {
    margin: 0 auto 5rem;
    position: relative;

    .two {
        position: inherit;
        bottom: -40px
    }
    .comment {
        @include flex(flex, center, flex-end);
        width: 100%;
        margin-top: 4rem;

        .comment-background {
            font-size: 15px;
            font-weight: 600;
            background-color: $color-dark-grey;
            padding: 1.5rem 1.5rem 1rem;
            width: 100%; 
            height: 10rem;
            border-radius: 24px;
            position: relative;

            img {
                position: inherit;
                top: -50px;
                right: -5px;
            }

            .comment-content {
                position: relative;
                top: -60px;

                p {
                    color: black;
                }
            }
        }
    }
}

.features {
    background-color: $color-cyan;
    margin-top: 5rem;
    padding: 5rem 5rem 0;
    position: relative;

    img {
        position: inherit;
        left: -90px;
        top: -95px;
    }

    .features-content {
        width: 85%;
        margin: auto;
        
        h1 {
            font-size: 4rem;
            margin-bottom: 0;
        }

        .feature-cards {
            @include flex(flex, center, space-between);

            .card {
                @include flex(flex, flex-start, center);
                flex-direction: column;
                width: 32%;
                padding: 2rem 2rem;
                border: 1px solid $color-border-grey;
                border-radius: 10px;
                background-color: white;
                margin: 3rem 0;
        
                .manrope-text-bold {
                    font-size: 2rem;
                }
                .number {
                    align-self: flex-start;
                    font-size: 1.5rem;
                }
        
                .heading {
                    @include flex(flex, center, center);
                    flex-direction: column;
          
                    p.manrope-text-bold {
                        margin-bottom: 0;
                        font-size: 1.25rem;
                    }
        
                    .rectangle {
                        @include flex(flex, flex-start, space-between);
                        flex-direction: column;
                        align-self: flex-start;
                        width: 50px;
                        height: 45px;
        
                        .head {
                            width: 40px;
                            height: 10px;
                            background-color: black;
                        }
        
                        .body {
                            width: 50px;
                            height: 30px;
                            background-color: #3234a9;
                        }
                    }
                }
        
                .text {
                    line-height: $line-height;
                    margin-bottom: 0;
                }
            }

            .card-separated {
                @include flex(flex, center, center);
                flex-direction: column;
                gap: 1.25rem;
                width: 32%;

                .card-separate {
                    padding: 2.5rem 2rem;
                    border: 1px solid $color-border-grey;
                    border-radius: 10px;
                    background-color: white;
                    margin: 0;
                    width: 100%;
         
                    p {
                        font-size: 1.25rem;
                        margin: 0;
                    }
                }
            }
        }
    }
}

.testimonials {
    @include flex(flex, center, center);
    flex-direction: column;
    width: 85%;
    margin: 0 auto;

    .testimonials-heading {
        @include flex(flex, center, space-between);
        width: 100%;
        position: relative;        

        h1{
            font-size: 3rem;
        }

        p {
            line-height: $line-height;
        }

        img {
            position: inherit;
            bottom: -50px;
        }
    }

    .testimonials-cards {
        @include flex(flex, center, none);
        gap: 2rem;
        width: 100%;
        margin: 1rem auto 0;
        max-height: inherit;
        overflow: scroll hidden;

        .card {
            position: relative;

            .quote {
                position: inherit;
                bottom: -25px;
                right: -20px;
                z-index: 1;
            }

            .content {
                @include flex(flex, center, space-between);
                padding: 1.5rem;
                width: 50%;
                max-height: 400px;
                border: 1px solid $color-border-grey;
                border-radius: 18px;
                background-color: white;
                position: relative;
                gap: 5rem;
                width: 45svw;
    
                p {
                    font-weight: 600;
                    font-size: 20px;
                }
    
                .image {
                    img {
                        width: 12rem;
                    }
                }
            }
        }
    }

}

.statistics {
    width: 100%;
    padding: 2rem 0;
    margin: 5rem 0 0;
    background-color: $color-purple-hover;

    .main-content{
        @include flex(flex, center, flex-start);
        color: white;
        width: 80%;
        margin: auto;
        position: relative;
    
        p {
            width: 12%;
            line-height: $line-height;
            font-size: 19px;
        }

        .line {
            position: inherit;
            border-left: 2px solid $color-dark-grey;
            height: 10rem;
            right: -10px;
        }

        .numbers {
            @include flex(flex, center, space-evenly);
            width: 100%;

            .content {

                h1 {
                    font-size: 5rem;
                    margin: 0;
                }

                p {
                    width: 100%;
                    margin: 0;
                    padding-left: 1rem;
                    svg {
                        margin-right: 1rem;
                    }
                }
            }
        }

        .topography {
            position: inherit;
            right: -150px;
        }
    }
}

.blog {
    margin: 5rem 0 0;

    .blog-content {
        width: 85%;
        margin: auto;

        h1 {
            font-size: 3.5rem;
        }

        .blogs {
            @include flex(flex, flex-start, center);
            flex-direction: column;
            gap: 2rem;
            width: 100%;

            .blog-card {
                @include flex(flex, center, space-between);
                gap: 10rem;
                width: 100%;
                background-color: white;
                padding-left: 2rem;

                .text {
                    font-weight: 600;
                }

                #jump {
                    margin-top: 3.5rem;
                    animation: floating 2s ease-in-out infinite;
                    svg {
                        margin-left: 1rem;
                    }
                }

                img {
                    width: 40%;
                }
            }

            .blog-card-many {
                @include flex(flex, center, space-between);

                .card {
                    @include flex(flex, center, space-between);
                    flex-direction: column;
                    width: 30%;
                    background-color: white;
                    height: 27rem;

                    .text {
                        margin: 0 1rem 0;
                    }

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.faq {
    margin: -1rem 0 0;
    position: relative;

    .accordion-blob, .accordion-spiral {
        position: inherit;
    }

    .accordion-spiral {
        bottom: -200px;
    }

    .accordion-blob {
        right: -92%;
        bottom: -140px;
    }

    .faq-content {
        width: 85%;
        margin: auto;

        h1 {
            font-size: 3.5rem;
            line-height: 4.25rem;
        }

        .faq-main {
            @include flex(flex, flex-start, space-between);
        }

        .accordion-wrapper {
            width: 60%;
            @include flex(flex, center, flex-start);
            flex-direction: column;
            gap: 0.5rem;

            .accordion {
                width: 100%;
                background-color: white;
                border: 1px solid $color-border-grey;
                border-radius: 18px;
                padding: 0.5rem 1.5rem;
                cursor: pointer;

                .accordion-heading {
                    @include flex(flex, center, space-between);
                    font-size: 1.25rem;
                    width: 100%;
                    background-color: white;
                    border: none;
                    outline: none;
                    text-align: left;
                    color: #333;
                    cursor: pointer;
                    transition: all 0.1s linear;
                }

                .accordion-heading:hover {
                    transform: scale(1.02);
                }

                .accordion-answer {
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.2s ease-in-out;
                    margin: 0;
                }
            }
        }

        .send-mail {
            @include flex(flex, center, space-between);
            flex-direction: column;
            padding: 3rem 0 1rem;
            width: 30%;
            height: 32rem;
            background-color: white;
            border: 1px solid $color-border-grey;
            border-radius: 18px;
            text-align: center;
            
            .send-email-button {
                @include buttonStyle(#FF7F5C, 90%, 5rem, $gilroy-font, 0)
            }

            .send-email-button:hover {
                background-color: #ee6843;
            }

            .send-email-button:active {
                background-color: #FF7F5C;
            }

            p {
                width: 80%;
            }
        }

    }
}

.cta {
    width: 100%;
    margin: 7rem auto 0;
    color: white;
    @include flex(flex, center, space-evenly);
    flex-direction: column;
    margin-bottom: 1rem;
    position: relative;

    .banner {
        margin: 0;
    }
    
    .cta-content {
        @include flex(flex, center, center);
        flex-direction: column;
        gap: 1rem;
        height: 100%;
        width: 70%;
        padding: 5rem;
        position: absolute;
        margin: 0;
        top: -1rem;
        display: inline-flex;
        text-align: center;

        h1 {
            font-size: 4rem;
        }

        .cta-button {
            @include buttonStyle(#FF7F5C, 15rem, 4rem, $manrope-font, 10px);
            font-size: 1.25rem;
        }

        .cta-button:hover {
            background-color: #ee6843;
        }

        .cta-button:active {
            background-color: #FF7F5C;
        }
    }
}


