//import google fonts
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap'); 

//import local fonts
@font-face {
    font-family: Gilroy-bold;
    src: url(./assets/fonts/Gilroy-Bold.ttf);
}


// Variables 
$manrope-font: "Manrope", sans-serif;
$gilroy-font: "Gilroy-bold", sans-serif;

$color-purple: #4F46BA;  
$color-purple-hover: #3734A9;
$color-green: #22D497;
$color-grey: #F5F6F8;
$color-dark-grey: #c4c4c4;
$color-slight-lavender: #FAFBFF;
$color-border-grey: #DBE4B9;
$text-color-purple: #505887;
$color-cyan: #C9E7F2;

$header-links-gap: 1.5rem;



//Mixin 
@mixin fontStyle($family: sans-serif, $weight: 400) {
    font-family: $family;
    font-optical-sizing: auto;
    font-weight: $weight;
    font-style: normal;
}

@mixin flex($display, $align, $justify) {
    display: $display;
    align-items: $align;
    justify-content: $justify;
}

@mixin buttonStyle($color, $width, $height, $font, $radius) {
    background-color: $color; 
    border: none;
    color: white;
    padding: 12px 16px;
    width: $width;
    height: $height;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: $font;
    border-radius: $radius;
    transition-duration: 0.2s;
}


//set font classes
.manrope-text-bold {
    @include fontStyle($manrope-font, 800);
}

.manrope-text-normal {
    @include fontStyle($manrope-font, 400);
}

.gilroy-text-bold {
    @include fontStyle($gilroy-font, 700);

}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: $color-slight-lavender;
}

//removing default decorations from lists and links
ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-image: url(../assets/images/header-background.png);
    background-size: cover;
    height: 100svh;
    padding-top: 2svh;

    .header {
        @include flex(flex, center, space-between);
        width: 80%;
        margin: auto;

        .header-links {
            @include flex(flex, center, space-between);
            gap: $header-links-gap;
            margin-left: 7%;
    
            svg {
                margin-left: 10px;
            }
        }

        .header-buttons {
            @include flex(flex, center, space-between);
            gap: $header-links-gap;
    
            button {
                @include buttonStyle($color-purple, 7.5rem, 2.75rem, $manrope-font, 0);
            }
    
            button:hover {
                background-color: $color-purple-hover;
            }

            button:active {
                background-color: $color-purple;
            }
        }
    }

    .header-content {
        @include flex(flex, flex-start, center);
        flex-direction: column;
        width: 80%;
        margin: auto;
        padding-top: 7rem;
        gap: 1rem;

        .header-main {
            width: 40%;
            font-size: 3rem;
            margin: auto 0;
        }

        .header-subtext {
            width: 30%;
            margin: -2px 0 30px;   

        }

        .header-banner-buttons {
            @include flex(flex, center, space-between);
            gap: 2rem;

            .get-started {
                @include buttonStyle($color-purple-hover, 8rem, 3rem, inherit, 24px);
            }

            .get-started:hover {
                background-color: $color-purple;
            }

            .get-started:active {
                background-color: $color-purple-hover;
            }

            .how-works {
                @include buttonStyle($color-green, 3rem, 3rem, inherit, 50%);
                text-align: center;
                margin-right: 0.5rem;
            }

            .how-works:hover {
                box-shadow: 1.5px 1.5px 1px rgba(0,0,0,0.3);
                transform: translate(-1px, -1px);
            }

            .how-works:active {
                box-shadow: none;
                transform: translate(1px, 1px);
            }

            span {
                color: $color-purple-hover;
            }
        }

        .header-banner-check {
            @include flex(flex, center, space-between);
            gap: 20px;
            color: $color-purple-hover;
            margin: 3rem 0 0;
            font-size: 1rem;
            
            svg {
                margin-right: 5px;
            }
        }
    }
}

.companies {
    background-color: $color-grey;
    padding: 3rem 0;

    div {
        @include flex(flex, center, space-between);
        flex-direction: column;
        width: 85%;
        margin: auto; 

        p {
            margin: 0 auto 2rem;
            font-weight: 600;
        }
    }
}

.automated-portfolio-tracking {
    @include flex(flex, center, space-between);
    flex-wrap: wrap; 
    width: 80%;
    margin: 5rem auto;

    .text {
        width: 50%;
        .main-text {
            font-size: 3.25rem;
            margin: 0 0;
        }
    }

    .comment {
        @include flex(flex, center, flex-end);
        width: 40%;

        .comment-background {
            font-size: 15px;
            font-weight: 600;
            background-color: $color-dark-grey;
            padding: 1.5rem 1.5rem 1rem;
            width: 80%; 
            height: 10rem;
            border-radius: 24px;
            position: relative;

            img {
                position: inherit;
                top: -50px;
                right: -5px;
            }

            .comment-content {
                position: relative;
                top: -60px;
            }
        }
    }
}

.portfolio-tracking-cards {
    @include flex(flex, center, space-between);
    width: 80%;
    margin: auto;

    .card {
        @include flex(flex, center, center);
        flex-direction: column;
        width: 32%;
        height: 25rem;
        padding: 2rem 2rem;
        border: 1px solid $color-border-grey;
        border-radius: 24px;
        background-color: white;

        .manrope-text-bold {
            font-size: 2rem;
        }
        .number {
            align-self: flex-start;
            font-size: 1.5rem;
        }

        .heading {
            @include flex(flex, center, center);
            flex-direction: column;
            text-align: center;
  
            p.manrope-text-bold {
                margin-bottom: 0;
            }

            .rectangle {
                @include flex(flex, flex-start, space-between);
                flex-direction: column;
                width: 50px;
                height: 45px;

                .head {
                    width: 40px;
                    height: 10px;
                    background-color: black;
                }

                .body {
                    width: 50px;
                    height: 30px;
                    background-color: #3234a9;
                }
            }
        }

        .text {
            text-align: center;
            line-height: 2;
            margin-bottom: 0;
        }
    }
}

.track-payments-section {
    @include flex(flex, center, space-between);
    width: 80%;
    margin: 5rem auto 0rem;

    .recieved-money {
        width: 45%;
        position: relative;
        max-height: 520px;

        .card {
            position: inherit;
            top: -450px;
            right: -25px;
        }
    }

    .hand-credit-card-black {
        position: relative;
        max-height: 685px;

        .total-balance {
            position: relative;
            top: -300px;
            left: -50px;
        }
    }

    .why-choose-us {
        width: 45%;
        p {
            font-size: 14px;
            font-weight: 700;
            color: $color-purple-hover;
        }

        h1 {
            font-size: 3rem;
        }

        .text {
            font-size: 18px;
            color: $text-color-purple;
        }

        hr {
            color: $color-dark-grey;
        }

        ul {
            @include flex(flex, flex-start, center);
            flex-direction: column;
            gap: 10px;
        }
        svg {
            margin-right: 10px;
            color: #FDBC64;
        }
    }
}

.track-payments-section.two {
    margin: 0 auto 5rem;
    position: relative;

    .two {
        position: inherit;
        bottom: -40px
    }
    .comment {
        @include flex(flex, center, flex-end);
        width: 100%;
        margin-top: 4rem;

        .comment-background {
            font-size: 15px;
            font-weight: 600;
            background-color: $color-dark-grey;
            padding: 1.5rem 1.5rem 1rem;
            width: 100%; 
            height: 10rem;
            border-radius: 24px;
            position: relative;

            img {
                position: inherit;
                top: -50px;
                right: -5px;
            }

            .comment-content {
                position: relative;
                top: -60px;

                p {
                    color: black;
                }
            }
        }
    }
}

.features {
    background-color: $color-cyan;
    margin-top: 5rem;
    padding: 5rem;

    .features-content {
        width: 85%;
        margin: auto;
        
        h1 {
            font-size: 4rem;
            margin-bottom: 0;
        }

        .feature-cards {
            @include flex(flex, center, space-between);

            .card {
                @include flex(flex, flex-start, center);
                flex-direction: column;
                width: 32%;
                padding: 2rem 2rem;
                border: 1px solid $color-border-grey;
                border-radius: 10px;
                background-color: white;
                margin: 3rem 0;
        
                .manrope-text-bold {
                    font-size: 2rem;
                }
                .number {
                    align-self: flex-start;
                    font-size: 1.5rem;
                }
        
                .heading {
                    @include flex(flex, center, center);
                    flex-direction: column;
          
                    p.manrope-text-bold {
                        margin-bottom: 0;
                        font-size: 1.25rem;
                    }
        
                    .rectangle {
                        @include flex(flex, flex-start, space-between);
                        flex-direction: column;
                        align-self: flex-start;
                        width: 50px;
                        height: 45px;
        
                        .head {
                            width: 40px;
                            height: 10px;
                            background-color: black;
                        }
        
                        .body {
                            width: 50px;
                            height: 30px;
                            background-color: #3234a9;
                        }
                    }
                }
        
                .text {
                    line-height: 2;
                    margin-bottom: 0;
                }
            }

            .card-separated {
                @include flex(flex, center, center);
                flex-direction: column;
                gap: 1.25rem;
                width: 32%;

                .card-separate {
                    padding: 2.5rem 2rem;
                    border: 1px solid $color-border-grey;
                    border-radius: 10px;
                    background-color: white;
                    margin: 0;
                    width: 100%;
         
                    p {
                        font-size: 1.25rem;
                        margin: 0;
                    }
                }
            }
        }
    }
}


//----------CSS FOR ANIMATIONS--------------

// Adding delay to 2nd and 3rd card to enhance stacking animation
.card:nth-child(2) {
    transition-delay: 200ms;
}

.card:nth-child(3) {
    transition-delay: 300ms;
}


// For animation on scroll
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hidden-down {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 0.8s;
}

.go-up {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.hidden-fade {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.fade-in {
    opacity: 1;
    filter: blur(0);
}

