//import google fonts
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap'); 


//import local fonts
@font-face {
    font-family: Gilroy-bold;
    src: url(./assets/fonts/Gilroy-Bold.ttf);
}


// Variables 
$manrope-font: "Manrope", sans-serif;
$gilroy-font: "Gilroy-bold", sans-serif;

$color-purple: #4F46BA;  
$color-purple-hover: #3734A9;

$header-links-gap: 1.5rem;



//Mixin 
@mixin fontStyle($family: sans-serif, $weight: 400) {
    font-family: $family;
    font-optical-sizing: auto;
    font-weight: $weight;
    font-style: normal;
}

@mixin flex($display, $align, $justify) {
    display: $display;
    align-items: $align;
    justify-content: $justify;
}

@mixin buttonStyle($color, $width, $height, $font) {
    background-color: $color; /* Green */
    border: none;
    color: white;
    padding: 12px 16px;
    width: $width;
    height: $height;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: $font;
    transition-duration: 0.2s;
}


//set font classes
.manrope-text-bold {
    @include fontStyle($manrope-font, 800);
}

.manrope-text-normal {
    @include fontStyle($manrope-font, 400);
}

.gilroy-text-bold {
    @include fontStyle($gilroy-font, 700);

}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

//removing default decorations from lists and links
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-image: url(../assets/images/header-background.png);
    background-size: cover;
    height: 100svh;
    padding-top: 2svh;

    .header {
        @include flex(flex, center, space-between);
        width: 85%;
        margin: auto;
    
    }
    
    .header-links {
        @include flex(flex, center, space-between);
        gap: $header-links-gap;

        svg {
            margin-left: 10px;
        }
    }
    
    .header-buttons {
        @include flex(flex, center, space-between);
        gap: $header-links-gap;

        button {
            @include buttonStyle($color-purple, 7.5rem, 2.75rem, $manrope-font);
        }

        button:hover {
            background-color: $color-purple-hover;
        }
    }
}


