@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@font-face {
  font-family: Gilroy-bold;
  src: url(./assets/fonts/Gilroy-Bold.ttf);
}
.manrope-text-bold {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.manrope-text-normal {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.gilroy-text-bold {
  font-family: "Gilroy-bold", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #FAFBFF;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background-image: url(../assets/images/header-background.png);
  background-size: cover;
  height: 100svh;
  padding-top: 2svh;
}
header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
header .header .header-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}
header .header .header-links svg {
  margin-left: 10px;
}
header .header .header-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}
header .header .header-buttons button {
  background-color: #4F46BA;
  border: none;
  color: white;
  padding: 12px 16px;
  width: 7.5rem;
  height: 2.75rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Manrope", sans-serif;
  border-radius: 0;
  transition-duration: 0.2s;
}
header .header .header-buttons button:hover {
  background-color: #3734A9;
}
header .header .header-buttons button:active {
  background-color: #4F46BA;
}
header .header-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: auto;
  padding-top: 7rem;
  gap: 1rem;
}
header .header-content .header-main {
  width: 40%;
  font-size: 3rem;
  margin: auto 0;
}
header .header-content .header-subtext {
  width: 30%;
  margin: -2px 0 30px;
}
header .header-content .header-banner-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
header .header-content .header-banner-buttons .get-started {
  background-color: #3734A9;
  border: none;
  color: white;
  padding: 12px 16px;
  width: 8rem;
  height: 3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: inherit;
  border-radius: 24px;
  transition-duration: 0.2s;
}
header .header-content .header-banner-buttons .get-started:hover {
  background-color: #4F46BA;
}
header .header-content .header-banner-buttons .get-started:active {
  background-color: #3734A9;
}
header .header-content .header-banner-buttons .how-works {
  background-color: #22D497;
  border: none;
  color: white;
  padding: 12px 16px;
  width: 3rem;
  height: 3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: inherit;
  border-radius: 50%;
  transition-duration: 0.2s;
  text-align: center;
  margin-right: 0.5rem;
}
header .header-content .header-banner-buttons .how-works:hover {
  box-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.3);
  transform: translate(-1px, -1px);
}
header .header-content .header-banner-buttons .how-works:active {
  box-shadow: none;
  transform: translate(1px, 1px);
}
header .header-content .header-banner-buttons span {
  color: #3734A9;
}
header .header-content .header-banner-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  color: #3734A9;
  margin: 3rem 0 0;
  font-size: 1rem;
}
header .header-content .header-banner-check svg {
  margin-right: 5px;
}

.companies {
  background-color: #F5F6F8;
  padding: 3rem 0;
}
.companies div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 85%;
  margin: auto;
}
.companies div p {
  margin: 0 auto 2rem;
  font-weight: 600;
}

.automated-portfolio-tracking {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: 5rem auto;
}
.automated-portfolio-tracking .text {
  width: 50%;
}
.automated-portfolio-tracking .text .main-text {
  font-size: 3.25rem;
  margin: 0 0;
}
.automated-portfolio-tracking .comment {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
}
.automated-portfolio-tracking .comment .comment-background {
  font-size: 15px;
  font-weight: 600;
  background-color: #c4c4c4;
  padding: 1.5rem 1.5rem 1rem;
  width: 80%;
  height: 10rem;
  border-radius: 24px;
  position: relative;
}
.automated-portfolio-tracking .comment .comment-background img {
  position: inherit;
  top: -50px;
  right: -5px;
}
.automated-portfolio-tracking .comment .comment-background .comment-content {
  position: relative;
  top: -60px;
}

.portfolio-tracking-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.portfolio-tracking-cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 32%;
  padding: 2rem 2rem;
  border: 1px solid #DBE4B9;
  border-radius: 24px;
  background-color: white;
}
.portfolio-tracking-cards .card .manrope-text-bold {
  font-size: 2rem;
}
.portfolio-tracking-cards .card .number {
  align-self: flex-start;
  font-size: 1.5rem;
}
.portfolio-tracking-cards .card .heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.portfolio-tracking-cards .card .heading p.manrope-text-bold {
  margin-bottom: 0;
}
.portfolio-tracking-cards .card .heading .rectangle {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 50px;
  height: 45px;
}
.portfolio-tracking-cards .card .heading .rectangle .head {
  width: 40px;
  height: 10px;
  background-color: black;
}
.portfolio-tracking-cards .card .heading .rectangle .body {
  width: 50px;
  height: 30px;
  background-color: #3234a9;
}
.portfolio-tracking-cards .card .text {
  text-align: center;
  line-height: 2;
  margin-bottom: 0;
}

.track-payments-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 5rem auto 0rem;
}
.track-payments-section .recieved-money {
  width: 45%;
  position: relative;
  max-height: 520px;
}
.track-payments-section .recieved-money .card {
  position: inherit;
  top: -450px;
  right: -25px;
}
.track-payments-section .hand-credit-card-black {
  position: relative;
  max-height: 685px;
}
.track-payments-section .hand-credit-card-black .total-balance {
  position: relative;
  top: -300px;
  left: -50px;
}
.track-payments-section .why-choose-us {
  width: 45%;
}
.track-payments-section .why-choose-us p {
  font-size: 14px;
  font-weight: 700;
  color: #3734A9;
}
.track-payments-section .why-choose-us h1 {
  font-size: 3rem;
}
.track-payments-section .why-choose-us .text {
  font-size: 18px;
  color: #505887;
}
.track-payments-section .why-choose-us hr {
  color: #c4c4c4;
}
.track-payments-section .why-choose-us ul {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.track-payments-section .why-choose-us svg {
  margin-right: 10px;
  color: #FDBC64;
}

.track-payments-section.two {
  margin-top: 0 auto 5rem;
  position: relative;
}
.track-payments-section.two .two {
  position: inherit;
  bottom: -40px;
}
.track-payments-section.two .comment {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-top: 4rem;
}
.track-payments-section.two .comment .comment-background {
  font-size: 15px;
  font-weight: 600;
  background-color: #c4c4c4;
  padding: 1.5rem 1.5rem 1rem;
  width: 100%;
  height: 10rem;
  border-radius: 24px;
  position: relative;
}
.track-payments-section.two .comment .comment-background img {
  position: inherit;
  top: -50px;
  right: -5px;
}
.track-payments-section.two .comment .comment-background .comment-content {
  position: relative;
  top: -60px;
}
.track-payments-section.two .comment .comment-background .comment-content p {
  color: black;
}

.features {
  background-color: #C9E7F2;
  margin-top: 5rem;
  padding: 5rem;
}
.features .features-content {
  width: 85%;
  margin: auto;
}
.features .features-content h1 {
  font-size: 4rem;
  margin-bottom: 0;
}
.features .features-content .feature-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.features .features-content .feature-cards .card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 32%;
  padding: 2rem 2rem;
  border: 1px solid #DBE4B9;
  border-radius: 10px;
  background-color: white;
  margin: 3rem 0;
}
.features .features-content .feature-cards .card .manrope-text-bold {
  font-size: 2rem;
}
.features .features-content .feature-cards .card .number {
  align-self: flex-start;
  font-size: 1.5rem;
}
.features .features-content .feature-cards .card .heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.features .features-content .feature-cards .card .heading p.manrope-text-bold {
  margin-bottom: 0;
  font-size: 1.25rem;
}
.features .features-content .feature-cards .card .heading .rectangle {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  align-self: flex-start;
  width: 50px;
  height: 45px;
}
.features .features-content .feature-cards .card .heading .rectangle .head {
  width: 40px;
  height: 10px;
  background-color: black;
}
.features .features-content .feature-cards .card .heading .rectangle .body {
  width: 50px;
  height: 30px;
  background-color: #3234a9;
}
.features .features-content .feature-cards .card .text {
  line-height: 2;
  margin-bottom: 0;
}
.features .features-content .feature-cards .card-separated {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.25rem;
  width: 32%;
}
.features .features-content .feature-cards .card-separated .card-separate {
  padding: 2.5rem 2rem;
  border: 1px solid #DBE4B9;
  border-radius: 10px;
  background-color: white;
  margin: 0;
  width: 100%;
}
.features .features-content .feature-cards .card-separated .card-separate p {
  font-size: 1.25rem;
  margin: 0;
}

.card:nth-child(2) {
  transition-delay: 200ms;
}

.card:nth-child(3) {
  transition-delay: 300ms;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.hidden-down {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 0.8s;
}

.go-up {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.hidden-fade {
  opacity: 0;
  filter: blur(5px);
  transition: all 1.5s;
}

.fade-in {
  opacity: 1;
  filter: blur(0);
}/*# sourceMappingURL=style.css.map */