
@import "./variables";
@import "./mixin";
@import "./fonts";

.blog {
    margin: 5rem 0 0;

    .blog-content {
        width: 85%;
        margin: auto;

        h1 {
            font-size: 3.5rem;
        }

        .blogs {
            @include flex(flex, flex-start, center);
            flex-direction: column;
            gap: 2rem;
            width: 100%;

            .blog-card {
                @include flex(flex, center, space-between);
                gap: 10rem;
                width: 100%;
                background-color: white;
                padding-left: 2rem;

                .text {
                    font-weight: 600;
                    margin: 1rem 0 1rem 0;
                }

                #jump {
                    margin-top: 3.5rem;
                    animation: floating 2s ease-in-out infinite;
                    svg {
                        margin-left: 1rem;
                    }
                }

                img {
                    width: 50%;
                }
            }

            .blog-card-many {
                @include flex(flex, center, space-between);

                .card {
                    @include flex(flex, center, space-between);
                    flex-direction: column;
                    width: 30%;
                    background-color: white;
                    height: 27rem;

                    .text {
                        margin: 0 1rem 0;
                    }

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 930px) {
    .blog .blog-content .blogs {
        .blog-card-many{
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            gap: 2rem;

            .card {
                width: 100%;
                flex-direction: column-reverse;
                align-items: flex-start;
                justify-content: flex-end;
                height: auto;
            }

        }

        .blog-card {
            gap: 5rem;
    
            .text {
                font-size: 0.75rem;
                margin: 0;
            }
    
            #jump {
                margin-top: 1rem;
            }
        }
    }
}

@media (max-width: 475px) {
    .blog .blog-content .blogs {
        .blog-card-many {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            gap: 2rem;

            .card {
                width: 100%;
                flex-direction: column-reverse;
                align-items: flex-start;
                justify-content: flex-end;
                height: auto;

                .text {
                    .title {
                        font-size: 0.5rem;
                    }

                    .topic {
                        font-size: 0.5rem;
                    }
                }
            }
        }
    }

    .blog .blog-content .blogs .blog-card {
        gap: 1rem;

        .text {
            font-size: 0.5rem;
        }
    }
}