
@import "./variables";
@import "./mixin";
@import "./fonts";

.features {
    background-color: $color-cyan;
    margin-top: 5rem;
    padding: 5rem 5rem 0;
    position: relative;

    img {
        position: inherit;
        left: -90px;
        top: -95px;
    }

    .features-content {
        width: 85%;
        margin: auto;
        
        h1 {
            font-size: 4rem;
            margin-bottom: 0;
        }

        .feature-cards {
            @include flex(flex, center, space-between);

            .card {
                @include flex(flex, flex-start, center);
                flex-direction: column;
                width: 32%;
                padding: 2rem 2rem;
                border: 1px solid $color-border-grey;
                border-radius: 10px;
                background-color: white;
                margin: 3rem 0;
        
                .manrope-text-bold {
                    font-size: 2rem;
                }
                .number {
                    align-self: flex-start;
                    font-size: 1.5rem;
                }
        
                .heading {
                    @include flex(flex, center, center);
                    flex-direction: column;
          
                    p.manrope-text-bold {
                        margin-bottom: 0;
                        font-size: 1.25rem;
                    }
        
                    .rectangle {
                        @include flex(flex, flex-start, space-between);
                        flex-direction: column;
                        align-self: flex-start;
                        width: 50px;
                        height: 45px;
        
                        .head {
                            width: 40px;
                            height: 10px;
                            background-color: black;
                        }
        
                        .body {
                            width: 50px;
                            height: 30px;
                            background-color: #3234a9;
                        }
                    }
                }
        
                .text {
                    line-height: $line-height;
                    margin-bottom: 0;
                }
            }

            .card-separated {
                @include flex(flex, center, center);
                flex-direction: column;
                gap: 1.25rem;
                width: 32%;

                .card-separate {
                    padding: 2.5rem 2rem;
                    border: 1px solid $color-border-grey;
                    border-radius: 10px;
                    background-color: white;
                    margin: 0;
                    width: 100%;
         
                    p {
                        font-size: 1.25rem;
                        margin: 0;
                    }
                }
            }
        }
    }
}


@media (max-width: 1035px) {

    .features {
        padding: 1rem 2.5rem;
    }
    .features .features-content .feature-cards {
        flex-direction: column;
        gap: 1rem;

        .card {
            width: 100%;
            margin: 0 auto;
        }

        .card-separated {
            width: 100%;
        }
    }
}

@media (max-width: 515px) {
    .features {
        padding: 1rem 2.5rem;
        .features-content {
            width: 100%;
            .text h1 {
                font-size: 3rem;
                margin-bottom: 1rem;
            }
        }
    }
}