@import "./variables";
@import "./mixin";
@import "./fonts";


.footer {
    width: 100%;
    margin: 7rem auto 2rem;
    @include flex(flex, flex-start, flex-start);
    flex-direction: column;
    gap: 2rem;

    .footer-links {
        width: 90%;
        margin: auto;
        @include flex(flex, flex-start, space-between);

        .footer-content {
            @include flex(flex, flex-start, flex-start);
            flex-direction: column;
            gap: 1rem;
            color: #757095;
            font-size: 0.85rem;
            line-height: 1.25rem;

            .footer-heading {
                color: black;
                font-size: 1rem;
            }

            .social-links {
                @include flex(flex, center, flex-start);
                color: $color-purple-hover;

                svg {
                    width: 2rem;
                }
            }
        }

        .newsletter {
            width: 30%;

            .email-input {
                width: 100%;

                input {
                    border: none;
                    height: 3rem;
                    background-color: #EEEEFF;
                    width: 60%;
                    padding: 1rem;
                    columns: $color-grey;
                }

                button {
                    @include buttonStyle( $color-purple-hover, 30%, 3rem, $manrope-font, 0);
                }

                button:hover {
                    background-color: $color-purple;
                }

                button:active {
                    background-color: $color-purple-hover;
                }
            }
        }
    }

    .footer-hr {
        width: 90%;
        border: 2px solid #E5E5EA;
    }

    .footer-copyright {
        width: 90%;
        margin: auto;
        text-align: center;
        font-size: 0.75rem;
        font-weight: 500;
    }
}

@media (max-width: 1000px) {
    .footer .footer-links {

        .footer-content {
            gap: 0.5rem;
        }

        .newsletter {
            width: 40%;
        }
    }
}

@media (max-width: 900px) {
    .footer .footer-links {

        flex-wrap: wrap;
        gap: 4rem;
        justify-content: space-around;

        .footer-content {
            gap: 0.5rem;
        }

        .newsletter {
            width: 50%;

            .email-input {
                input {
                    width: 50%;
                }

                button {
                    width: 40%;
                }
            }
        }
    }
}

