@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "./variables";
@import "./mixin";
@import "./fonts";

header {
    background-image: url(../assets/images/header-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100svh;
    padding-top: 2svh;

    .header {
        @include flex(flex, center, space-between);
        width: 80%;
        margin: auto;

        .header-links {
            @include flex(flex, center, space-between);
            gap: $header-links-gap;
            margin-left: 7%;
    
            svg {
                margin-left: 10px;
            }
        }

        .header-buttons {
            @include flex(flex, center, space-between);
            gap: $header-links-gap;
    
            button {
                @include buttonStyle($color-purple, 7.5rem, 2.75rem, $manrope-font, 0);
            }
    
            button:hover {
                background-color: $color-purple-hover;
            }

            button:active {
                background-color: $color-purple;
            }
        }
    }

    .header-content {
        @include flex(flex, flex-start, center);
        flex-direction: column;
        width: 80%;
        margin: auto;
        padding-top: 7rem;
        gap: 1rem;

        .header-main {
            width: 40%;
            font-size: 3rem;
            margin: auto 0;
        }

        .header-subtext {
            width: 30%;
            margin: -2px 0 30px;   

        }

        .header-banner-buttons {
            @include flex(flex, center, space-between);
            gap: 2rem;

            .get-started {
                @include buttonStyle($color-purple-hover, 8rem, 3rem, inherit, 24px);
            }

            .get-started:hover {
                background-color: $color-purple;
            }

            .get-started:active {
                background-color: $color-purple-hover;
            }

            .how-works {
                @include buttonStyle($color-green, 3rem, 3rem, inherit, 50%);
                text-align: center;
                margin-right: 0.5rem;
            }

            .how-works:hover {
                box-shadow: 1.5px 1.5px 1px rgba(0,0,0,0.3);
                transform: translate(-1px, -1px);
            }

            .how-works:active {
                box-shadow: none;
                transform: translate(1px, 1px);
            }

            span {
                color: $color-purple-hover;
            }
        }

        .header-banner-check {
            @include flex(flex, center, space-between);
            gap: 20px;
            color: $color-purple-hover;
            margin:  2rem 0 0;
            font-size: 1rem;
            
            svg {
                margin-right: 5px;
            }
        }
    }
}

@media (max-width: 1460px) {
    header {
        .header-content {
            .header-main {
                font-size: 2rem;
            }
        }
    }
}

@media (max-width: 920px) {
    header {
        height: 90svh;

        .header .header-links {
            display: none;
        }


        .header-content .header-main {
            width: 90%;
        }
    }
}

@media (max-width: 710px) {
    header {
        .header-content {
            .header-main {
                font-size: 2rem;
            }

            .header-subtext {
                width: 70%;
                font-size: 1rem;
            }
        }
    }
}

@media (max-width: 660px) {

    header {
        .header-content {
            .header-main {
                font-size: 2rem;
                width: 90%;
            }
        }
    }
    
    header {
        height: 90svh;

        .header-content .header-subtext {
            width: 90%;
            font-size: 1rem;
        }
    }
}

@media (max-width: 520px) {

    header {
        .header-content {
            margin-top: 4rem;
            padding-top: 0;
            .header-main {
                font-size: 1.5rem;
                width: 90%;
            }
        }
    }

    header {
        height: 80svh;

        .header-content .header-subtext {
            width: 90%;
            font-size: 1rem;
        }
    }
}

@media (max-width: 440px) {
    header {
        height: 80svh;

        .header-content .header-main, .header-content .header-subtext {
            width: 90%;
            font-size: 1rem;
        }

        .header .header-buttons {
            @include flex(flex, center, flex-start);

            button {
                height: 2rem;
                width: 5rem;
                font-size: 0.55rem;
            }
        }

        .header-content .header-banner-buttons {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }
}
