@import "./variables";
@import "./mixin";
@import "./fonts";

.automated-portfolio-tracking {
    @include flex(flex, center, space-between);
    flex-wrap: wrap; 
    width: 80%;
    margin: 5rem auto;

    .text {
        width: 50%;
        .main-text {
            font-size: 3.25rem;
            margin: 0 0;
        }
    }

    .comment {
        @include flex(flex, center, flex-end);
        width: 40%;

        .comment-background {
            font-size: 15px;
            font-weight: 600;
            background-color: $color-dark-grey;
            padding: 1.5rem 1.5rem 1rem;
            width: 100%; 
            height: 10rem;
            border-radius: 24px;
            position: relative;

            img {
                position: absolute;
                top: -15px;
            }

            .comment-content {
                position: absolute;
                padding: 0px 1rem 0rem 0rem;
            }
        }
    }
}

@media (max-width: 1500px) {
    .automated-portfolio-tracking .comment {
        width: 50%;
    }
}

@media (max-width: 1200px) {

    
    .automated-portfolio-tracking .comment {
        width: 60%;
    }

    .automated-portfolio-tracking .text {
        width: 40%;
    }
}

@media (max-width: 950px) {
    .automated-portfolio-tracking {
        @include flex(flex, flex-start, flex-start);
        flex-direction: column;
        gap: 5rem;
    }

    .automated-portfolio-tracking .comment, .automated-portfolio-tracking .text {
        width: 100%;
    }
}

@media (max-width: 700px) {

    
    .automated-portfolio-tracking .comment {
        width: 100%;
        
        .comment-content {
            font-size: 0.75rem;
        }
    }

    .automated-portfolio-tracking .text {
        width: 100%;
    }
}