$manrope-font: "Manrope", sans-serif;
$gilroy-font: "Gilroy-Bold", sans-serif;

$color-purple: #4F46BA;  
$color-purple-hover: #3734A9;
$color-green: #22D497;
$color-grey: #F5F6F8;
$color-dark-grey: #c4c4c4;
$color-slight-lavender: #FAFBFF;
$color-border-grey: #DBE4B9;
$text-color-purple: #505887;
$color-cyan: #C9E7F2;

$header-links-gap: 1.5rem;
$line-height: 2;
