//import google fonts

@import "../section-scss/header";
@import "../section-scss/companies";
@import "../section-scss/sectionHeading";
@import "../section-scss/valueProps";
@import "../section-scss/trackPayments";
@import "../section-scss/features";
@import "../section-scss/testimonials";
@import "../section-scss/statistics";
@import "../section-scss/blog";
@import "../section-scss/faq";
@import "../section-scss/cta";
@import "../section-scss/footer";

